<!DOCTYPE html>
<html ng-app="hearMe">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Felipe Emerson de Oliveira Calixto">
        <title>Hear.me</title>
        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="50x50" href="img/logo.png">
        <!-- Bootstrap CSS -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/bootstrap.min.3.css" rel="stylesheet">
        <!-- AngularJS -->
        <script src="js/angular.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/module.js"></script>
        <script src="js/controller.js"></script>
    </head>
    <body ng-controller="hearMeController">
        <div class="container">
            <!-- Barra de navegacao -->
            <nav class="navbar navbar-primary" style="margin-top: 10px">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <span style="font-size: large">Hear.me</span><img src="img/logo.png" alt="Logo">
                    </div>
                    <ul class="nav nav-tabs pull-right" role="tablist" style="margin-right: 40%">
                        <li role="presentation" class="active" ><a href="#inicio" aria-controls="inicio" role="tab" data-toggle="tab">Início</a></li>
                        <li role="presentation"><a href="#artistas" aria-controls="artistas" role="tab" data-toggle="tab">Artistas</a></li>
                        <li role="presentation"><a href="#artistas-favoritos" aria-controls="artistas-favoritos" role="tab" data-toggle="tab">Favoritos</a></li>
                        <li role="presentation"><a href="#playlists" aria-controls="playlists" role="tab" data-toggle="tab">Playlists</a></li>
                    </ul>
                </div>
            </nav>
            <!-- Conteudo -->
            <div class="tab-content">
                <div role="tabpanel" id="inicio" class="tab-pane fade in active">
                    <!--Linha com os dois formularios-->
                    <div class="row" style="margin-top: 10%">
                        <!-- Adicionar artista -->
                        <div class="col-md-5" id="right">
                            <form autocomplete="on" ng-submit="adicionaArtista()">
                                <legend><b>Adicionar artista</b></legend>
                                <div class="form-group">
                                    <label for="nome-artista">Nome do artista:</label>
                                    <input type="text" class="form-control" pattern="{1,}" placeholder="Mínimo 1 caractere" id="artista" ng-model="novoArtista.nome" required>
                                </div>
                                <div class="form-group">
                                    <label for="url">Link da imagem:</label>
                                    <input type="url" class="form-control"  placeholder="Link da imagem" id="url" ng-model="novoArtista.imagemUrl">
                                </div>
                                <footer>
                                    <button type="submit" class="btn btn-success">✚ Adicionar</button>
                                    <button class="btn btn-danger" type="reset" value="Reset">✖ Limpar</button>
                                </footer>
                            </form>
                        </div>
                        <!-- Adicionar musica -->
                        <div class="col-md-5" id="left">
                            <form autocomplete="on" ng-submit="adicionaMusica()">
                                <legend><b>Adicionar música</b></legend>
                                <div class="form-group">
                                    <label for="name-music">Nome da música:</label>
                                    <input type="text" class="form-control" pattern="{1,}" placeholder="Mínimo 1 caractere" id="name" ng-model="novaMusica.nome" required>
                                </div>
                                <div class="form-group">
                                    <label for="artist">Artista:</label>
                                    <input type="text" class="form-control" pattern="{1,}" placeholder="Mínimo 1 caractere" id="artista" ng-model="novaMusica.artista" required>
                                </div>
                                <div class="form-group">
                                    <label for="album">Álbum:</label>
                                    <input type="text" class="form-control" pattern="{1,}" placeholder="Mínimo 1 caractere" id="album" ng-model="novaMusica.album" required>
                                </div>
                                <div class="form-group">
                                    <label for="artist">Ano de lançamento:</label>
                                    <input type="date" class="form-control" pattern="(0[1-9]|1[0-9]|2[0-9]|3[01])/(0[1-9]|1[012])/[0-9]{4}" id="ano" ng-model="novaMusica.ano" placeholder="DD/MM/AAAA" required>
                                </div>
                                <div class="form-group">
                                    <label for="artist">Duração:</label>
                                    <input type="text" class="form-control" pattern="([0-5][0-9]):([0-5][0-9])" id="duracao" ng-model="novaMusica.duracao" placeholder="MM:SS (Ex.: 03:25)" required>
                                </div>
                                <button type="submit" onclick="return confirm('Adicionar música?')" class="btn btn-success">✚ Adicionar</button>
                                <button class="btn btn-danger" type="reset" value="Reset">✖ Limpar</button>
                            </form>
                        </div>
                    </div>
                <!-- Fim div #inicio -->
                </div>

                <!-- Inicio div #artistas -->
                <div role="tabpanel" id="artistas" class="tab-pane fade">
                    <div class="form-group row" ng-show="artistas.length > 0">
                        <label class="col-sm-1">Pesquisar:</label>
                        <input class="col-sm-5" type="text" ng-model="pesquisa" placeholder="Nome do artista">
                    </div>
                    <!-- Galeria de artistas -->
                    <div class="row">
                        <div class="gallery">
                            <!--Lista de artistas-->
                            <div class="imgContainer" ng-repeat="artista in artistas | filter: {nome: pesquisa}">
                                <a data-toggle="modal" data-target="#myModal{{artista.id}}">
                                    <h4 class="artista-link">{{artista.nome}}</h4>
                                    <img class="img-thumbnail" src="{{artista.imagemUrl}}" width="225px" height="225px">
                                    <div class="favorito">
                                <a type="button" class="heart" href="" ng-show="!artista.favorito" ng-click="artista.favorito = true"><img src="img/unfavorite-heart.png"></a>
                                <a type="button" href="" class="heart" ng-show="artista.favorito" ng-click="removeFavorito(artista)"><img src="img/favorite-heart.png"></a>
                                </div>
                                </a>
                                <!--Modal de artista -->
                                <div id="myModal{{artista.id}}" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Conteudo da modal -->
                                        <div class="modal-content" role="document">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">✖</button>
                                                <h3 class="modal-title">{{ artista.nome }}</h3>
                                            </div>
                                            <div class="modal-body row">
                                                <div class="col-md-4">
                                                    <img ng-src="{{ artista.imagemUrl }}" alt="Imagem de {{ artista.nome }}">
                                                </div>
                                                <div class="col-md-6">
                                                    <span>
                                                        Nota:  <a href="" ng-hide="editingNota" ng-click="editingNota = true">{{artista.nota}}</a>
                                                        <form ng-show="editingNota" ng-submit="editingNota = false; adicionaNota(artista);">
                                                            <select ng-model="nota.valor">
                                                                <option ng-repeat="numero in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{numero}}</option>
                                                            </select>
                                                            <button class="btn btn-success botaoCircular" type="submit">✔</button>
                                                        </form>
                                                    </span>
                                                    </br>
                                                    <span>
                                                        Última música:  <a class="ultima-musica" href="" ng-hide="editingMusica" ng-click="editingMusica = true">{{artista.ultimaMusica}}</a>
                                                        <form ng-show="editingMusica" ng-submit="editingMusica = false; modificaUltimaMusica(artista);">
                                                            <select ng-model="ultimaMusica.nome">
                                                                <option disabled selected value="">-- Selecione uma música --</option>
                                                                <option ng-repeat="musica in musicasNoSistema" ng-if="musica.artista === $parent.artista.nome" value="{{musica.nome}}">{{musica.nome}}</option>
                                                            </select>
                                                            <button class="btn btn-success botaoCircular" type="submit">✔</button>
                                                        </form>
                                                    </span>
                                                    </br>
                                                    Favorito: <a type="button" class="heart" href="" ng-show="!artista.favorito" ng-click="artista.favorito = true"><img src="img/unfavorite-heart.png"></a>
                                                    <a type="button" href="" class="heart" ng-show="artista.favorito" ng-click="removeFavorito(artista)"><img src="img/favorite-heart.png"></a></br>
                                                    Álbuns:
                                                    <ul ng-repeat="album in artista.albuns">
                                                        <li>{{ album.nome }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Fim div #artistas -->
                </div>

                <!-- Inicio div #artistas-favoritos -->
                <div role="tabpanel" id="artistas-favoritos" class="tab-pane fade">
                    <!-- Galeria de artistas favoritos -->
                    <div class="row">
                        <div class="gallery">
                            <!--Lista de artistas favoritos -->
                            <div class="imgContainer" ng-repeat="artista in artistas | filter: {favorito: true}">
                                <a data-toggle="modal" data-target="#artistaFavorito{{artista.id}}">
                                    <h4 class="artista-link">{{artista.nome}}</h4>
                                    <img class="img-thumbnail" src="{{artista.imagemUrl}}" width="225px" height="225px">
                                    <div class="favorito">
                                <a type="button" class="heart" href="" ng-show="!artista.favorito" ng-click="artista.favorito = true"><img src="img/unfavorite-heart.png"></a>
                                <a type="button" href="" class="heart" ng-show="artista.favorito" ng-click="removeFavorito(artista)"><img src="img/favorite-heart.png"></a>
                                </div>
                                </a>
                                <!--Modal de artista favorito -->
                                <div id="artistaFavorito{{artista.id}}" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Conteudo da modal -->
                                        <div class="modal-content" role="document">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">✖</button>
                                                <h3 class="modal-title">{{ artista.nome }}</h3>
                                            </div>
                                            <div class="modal-body row">
                                                <div class="col-md-4">
                                                    <img ng-src="{{ artista.imagemUrl }}" alt="Imagem de {{ artista.nome }}">
                                                </div>
                                                <div class="col-md-6">
                                                    <span>
                                                        Nota:  <a href="" ng-hide="editingNota" ng-click="editingNota = true">{{artista.nota}}</a>
                                                        <form ng-show="editingNota" ng-submit="editingNota = false; adicionaNota(artista);">
                                                            <select ng-model="nota.valor">
                                                                <option ng-repeat="numero in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{numero}}</option>
                                                            </select>
                                                            <button class="btn btn-success botaoCircular" type="submit">✔</button>
                                                        </form>
                                                    </span>
                                                    </br>
                                                    <span>
                                                        Última música:  <a class="ultima-musica" href="" ng-hide="editingMusica" ng-click="editingMusica = true">{{artista.ultimaMusica}}</a>
                                                        <form ng-show="editingMusica" ng-submit="editingMusica = false; modificaUltimaMusica(artista);">
                                                            <select ng-model="ultimaMusica.nome">
                                                                <option disabled selected value="">-- Selecione uma música --</option>
                                                                <option ng-repeat="musica in musicasNoSistema" ng-if="musica.artista === $parent.artista.nome" value="{{musica.nome}}">{{musica.nome}}</option>
                                                            </select>
                                                            <button class="btn btn-success botaoCircular" type="submit">✔</button>
                                                        </form>
                                                    </span>
                                                    </br>
                                                    Álbuns:
                                                    <ul ng-repeat="album in artista.albuns">
                                                        <li>{{ album.nome }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Fim div #artistas-favoritos -->
                </div>

                <!-- Inicio div #playlists-->
                <div role="tabpanel" id="playlists" class="tab-pane fade">
                    <form autocomplete="on" ng-submit="adicionaPlaylist()">
                        <legend><b>Adicionar playlist</b></legend>
                        <div class="row form-group form-playlist">
                            <h4>Nome da playlist:</h4>
                            <input class="col-xs-4" type="text" class="form-control" pattern="{1,}" placeholder="Mínimo 1 caractere" id="playlist" ng-model="novaPlaylist.nome" required>
                            <button  type="submit" class="btn btn-success col-xs-2">✚ Adicionar</button>
                        </div>
                    </form>
                    <!--Lista de playlists -->
                    </br>
                    <div ng-show="playlists.length > 0">
                      <h3><b>Suas playlists:</b></h3>
                      <div class="playlists" ng-repeat="playlist in playlists">
                          <table>
                              <tr>
                                  <td>
                                      <a data-toggle="modal" class="playlist-link" data-target="#playlistModal{{playlist.id}}">
                                          <h4>{{ playlist.nome }}</h4>
                                      </a>
                                  </td>
                                  <td><button type="button" class="btn btn-danger botaoCircular" id="botaoDeRemoverPlaylist" ng-click="removePlaylist(playlist)">✖</button></td>
                              </tr>
                          </table>
                          <!--Modal playlist -->
                          <div id="playlistModal{{playlist.id}}" class="modal fade" role="dialog">
                              <div class="modal-dialog">
                                  <!-- Modal playlist -->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">✖</button>
                                          <h3 class="modal-title">{{playlist.nome}}</h3>
                                      </div>
                                      <div class="modal-body">
                                          <form class="form-group form-musicas" ng-submit="adicionaMusicaNaPlaylist(playlist)">
                                              <label>Adicionar música:</label>
                                              <div clas="row">
                                                  <select ng-model="novaMusicaNaPlaylist.nome">
                                                      <option disabled selected value="">-- Selecione uma música --</option>
                                                      <option ng-repeat="musica in musicasNoSistema" value="{{musica.nome}}">{{musica.nome}}</option>
                                                  </select>
                                                  <button class="btn btn-success" type="submit">✚ Adicionar</button>
                                              </div>
                                          </form>
                                          </br>
                                          <h4 ng-show="playlist.musicas.length > 0">Músicas:</h4>
                                          <!-- Lista de musicas da playlist -->
                                          <div class=" musicas" ng-repeat="musica in playlist.musicas">
                                              <table>
                                                  <tr>
                                                      <td>{{musica}}<span class="botaoDeRemoverMusica" id="botaoDeRemoverMusica" ng-click="removerMusicaDaPlaylist(playlist, musica)">✖</span></td>
                                                  </tr>
                                              </table>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                <!-- Fim div #playlists -->
                </div>
            <!-- Fim div conteudo -->
            </div>
        <!-- Fim div container -->
        </div>
    </body>
</html>